
<html>
<head>
	<title>Welcome</title>

</head>
<!-- <body style=" background-image: url(logo-grey.png); "> -->
<h1 style="text-align: center; ">Welcome to ASAssassins</h1>
<h3 style="text-align: center; "">Are you ready?</h3>
<!-- <div style="text-align: center; ">
<%= link_to "New Player", :controller => "users", :action => "new" %>    
</div> -->
<div id = "getting-started" style="display: none; text-align: center; font-size: 100px;">
    
</div>
<h1 style="text-align: center;">
    See the Current Status of the Game <%= link_to "Here", :controller => "users", :action => "index" %>
</h1 style="text-align: center;">

<div style="font-size: 20px;">
<h1>
    Rules:
</h1>
<ul>
    <li>This game will be played over the course of many days.</li>    
    <li>In order to win, you must eliminate the target assigned to you.</li>    
    <li>Each of you will be assigned an Assassin number that you are to relinguish to your killer in the event that you are slayed.</li>    
    <li>In order to kill someone, you must slice from shoulder to shoulder (ON THE BACK!) with a plastic spoon obtained from any of the dining halls. </li>    
    <li>(There will be some left in the XLounge as well for those who can't frequent the dining halls)</li>    
    <li>Once you've finished off your target, login and type their kill code to obtain your next target</li>    
    <li>There are designated Safe Spaces below that killing is not allowed.</li>    
    <li>In the event that a discrepancy arises, please contact jea2161@columbia.edu with the subject "Kill Confusion" to be resolve the situation.</li>    
    <li>You can not kill your subject if they're in the midst of eating.</li>    
</ul>
Please exercise rational judgement in your practices. (Don't be wild)
If no one has made a kill within 48 hours, a state of anarchy will be instated.
In the state of anarchy, all assassins are free to kill anyone else who remains in the game.
After the first two kills in the state of anarchy, the game will brought back into the normal state where assassins only have one target.
</div>
<h1>Safe Spaces:</h1>
<ul>
    <li>
    The Malcolm X Lounge    
    </li>
    <li>
    All Bathrooms
    </li>
    <li>Classrooms during class time</li>
    <li>ALL dorm rooms, but in dorm kills are allowed</li>
</ul>
<!-- Countdown plugin -->
        

        <script>
    $("#getting-started") 
            // Year/Month/Day Hour:Minute:Second
            .countdown("2018/02/11 23:00:00", function (event) {

            	if(event.type != "stoped" && event.type != "finish") {
            		$(this).css('display', 'block').html(
                        event.strftime('%D Days %Hh %Mm <span class="second-timer" >%Ss</span>')
                        );
            	}
            	else {
            		$("#getting-started").fadeOut();
            	}
                
                

            });
        </script>
</body>
</html>